*{
    margin:0px;
    padding: 0px;
}

header{
    display: flex;
    height: 58px;
    background-color: aliceblue;
    justify-content: space-between;
    font-size: 15px;
    align-items: center;
    
}
img{
    
    height: 48px;
    margin:5px;
    margin-left: 25px;
}
.nav_bar a{
    text-decoration: none;
    color: black;
    margin-left: 14px;

}
