*{
    margin:0px;
    padding: 0px;

}

header{
    display: flex;
    height: 80px;
    background-color: aliceblue;
    justify-content: space-between;
    font-size: 15px;
    align-items: center;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}
.logo_container{
    margin-left: 7%;
}
img{
    
    height: 48px;
    margin:5px;
    margin-left: 9%;
}
.action_bar{
    margin-right: 4%;
}
.nav_bar{
    display: flex;
    justify-content: space-evenly;
    min-width: 500px;
    width: 40%;
}

.nav_bar a{
    text-decoration: none;
    color: black;
    font-weight:800px ;
    text-transform: uppercase;
    padding: 27px 0px 27px 0px;
    border-bottom: 4px solid aliceblue; ;
}
.nav_bar a:hover{
    border-bottom: 4px solid rgb(194, 61, 105);
}
.nav_bar a sup{
    color: red;
}
.search_bar{
    background-color: #d3d3dc;
    color: #696e79;
    min-width: 350px;
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: 4px;
}
.input_box{
    height: 33px;
    width: 150px;
    width: 30%;
    flex-grow:1;
    border:0px;
    background-color: #e1e1ea;
    border-radius: 0px 4px 4px 0px;

}
.search_icon{
    width: 29px;
    padding: 3px;
    background-color: #e1e1ea;
    font-weight: 200px;
}
.action_bar{
    display: flex;
    min-width: 200px;
    justify-content: space-around;
    align-items: center;
}
.action_container{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.banner1{
    width:97%;
    height:100%;
    position: relative;
    margin-left: 0%;
}
.main1{
  
    margin:10px 0px;
}
.main2{
    height:80px;
    margin:auto;
    border-radius: 5px;
    border:5px solid rgb(237, 147, 62)
  
}
.crazy_deals{
font-size: 40px;
font-weight: 900px;
margin-left: 42%;
margin-top: auto;
color: #828897;
-webkit-text-stroke: width color;
text-shadow: -1px 1px 0 #000,
1px 1px 0 #000,
1px -1px 0 #000,
-1px -1px 0 #000;
}
.down{
    margin-left: 44%;
    font-size: 25px;
}
.image_deals{
    height: 240px;
    width:200px;
    
}
.crazy_deals_div{
    display: flex;
    flex-wrap: wrap;
    height:600px;
    border:2px solid rgb(237, 147, 62);
    margin:10px;
    justify-content: space-evenly;
}
.crazy_image{
   
    height: 280px;
    width: 210px;
    margin:6px;
    font-size: 15px;
    filter: drop-shadow(4px 4px rgb(237, 147, 62));

    border: 1px solid rgb(237, 147, 62);
    
    
}
#category_heading{
    height: 400px;
    font-size: 40px;
    font-weight: bolder;
    margin-left: 40%;
    text-transform: uppercase;
}